<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.edu.unpa.uarg.gisp.unparunner">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="ar.edu.unpa.uarg.gisp.unparunner.Aplicacion"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name="ar.edu.unpa.uarg.gisp.unparunner.servicio.ServicioLocalizacion"
            android:enabled="true"
            android:exported="false"></service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBxBDpP9giYTNDtjhdHGGjXmq0VIUtke44" />

        <activity
            android:name="ar.edu.unpa.uarg.gisp.unparunner.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="ar.edu.unpa.uarg.gisp.unparunner.NuevoRecorridoActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <activity
            android:name="ar.edu.unpa.uarg.gisp.unparunner.HistorialRecorridosActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="ar.edu.unpa.uarg.gisp.unparunner.VerRecorridoActivity"
            android:label="@string/title_activity_ver_recorrido"
            android:screenOrientation="portrait" />
    </application>

</manifest>